
.container{
    display: flex;
  }
  
  
  .grid{
    width: 200px;;
    height: 400px;
    background-color: rgba(7, 63, 63, 0.623);
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .grid div, .mini-grid div{
    height: 20px;
    width: 20px;
    /* background-color: black; */
  }
  
  
  